/* AdminDashboardPage.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.admin-dashboard-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    color: #1fcfb2;
}

.admin-dashboard-links {
    list-style-type: none;
    padding: 0;
}

.admin-dashboard-links li {
    margin: 10px 0;
}

.admin-dashboard-links a {
    text-decoration: none;
    color: #1fcfb2;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #1fcfb2;
    border-radius: 4px;
    display: inline-block;
    width: 200px;
    text-align: center; 
}

.admin-dashboard-links a:hover {
    background-color: #1fcfb2;
    color: white;
}