.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1fcfb2;
    color: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.footer a:hover {
    text-decoration: underline;
}